### IntelliJ IDEA ###
.idea/
backend/*.iws
backend/*.iml
backend/*.ipr
.env
backend/out/
!backend/**/src/main/**/out/
!backend/**/src/test/**/out/

backend/.gradle/
backend/build/
!backend/gradle/wrapper/
!backend/gradle/wrapper/gradle-wrapper.jar
!backend/gradle/wrapper/gradle-wrapper.properties
conversations/
